# Ignore LICENSE files in package folders.
/packages/*/LICENSE

# Ignore build files in package folders.
/packages/*/build
/packages/*/dist

# Files created by npm. 
package-lock.json
/node_modules
/packages/*/package-lock.json
/packages/*/node_modules

# IDE / editor specific files.
.idea/
.vscode/

# Temporary files.
.tmp/
/packages/*/.tmp/
*.log
*.cache
coverage
.nyc_output
