# Ignore LICENSE files in package folders.
/packages/*/LICENSE

# Ignore build files in package folders.
/packages/*/build
/packages/*/dist
/packages/*/lib

# Files created by npm or yarn.
package-lock.json
/node_modules
/packages/*/package-lock.json
/packages/*/node_modules
/packages/*/*.tgz
/packages/*/yarn.lock

# IDE / editor specific files.
.idea/
.vscode/

# Temporary files.
.tmp/
/packages/*/.tmp/
*.log
*.cache
coverage
.nyc_output
